.gradle/*
.idea/
*.iml
/build/*
build/*
androidffmpeglibrary/build/*
fritzStreams/build/*
gradle/*
RtmpDump/build/*
gradlew
.navigation/raw/main.nvg.xml
gradlew.bat
import-summary.txt
local.properties
*.directory
